.workbench {
    background: var(--color-menu);
    color: var(--color-font-secondary);

    border: solid .15em;
    border-top-color: var(--color-menu-dark);
    border-left-color: var(--color-menu-dark);
    border-bottom-color: var(--color-menu-light);
    border-right-color: var(--color-menu-light);

}